= semantic_form_for juntada do |f|
  = f.input :tipo, as: :select, collection: ["Anexar", "Apensar"]

  = f.hidden_field :processo_principal_id, value: processo.id

  = f.inputs 'Processos a serem juntados' do
    = f.input :processos, as: :check_boxes, collection: Processo.all.map{|processo| [processo.numero_protocolo, processo.id]}

  = f.submit 'Salvar'

