= semantic_form_for @requerimento do |f|
  = "Data de Criação: " + Date.today.strftime("%d/%m/%y")
  = f.input :setor, :as => :select,
    :collection => Setor.all.map {|s| [s.nome] }, :label => "Local de Criação", :include_blank => false

  = f.inputs 'Solicitantes' do
    = f.input :requerente, :as => :select, :collection => Solicitante.all.map {|solicitante| [solicitante.nome] }, :include_blank => false
    = f.input :interessado, :as => :select,
      :collection => Solicitante.all.map {|solicitante| [solicitante.nome] },
      :include_blank => false

  = f.inputs 'Lançamento' do
    = f.input :destino_inicial, :as => :select, :collection => Setor.all.map {|setor| [setor.nome] }, :include_blank => false, :label => "Destino Inicial"
    = f.input :tipo_solicitacao, :as => :select,
      :collection => Solicitacao.all.map {|solicitacao| [solicitacao.tipo] },
      :include_blank => false, :label => "Tipo de Solicitação"

  = f.input :conteudo

  = f.submit 'Salvar'
