= semantic_form_for @requerimento do |f|
  = "Data de Criação: " + Date.today.strftime("%d/%m/%y")
  = f.input :setor_origem, label: 'Local de Criação', member_label: :nome

  = f.inputs 'Solicitantes' do
    = f.input :requerente, member_label: :nome
    = f.input :interessado, member_label: :nome

  = f.inputs 'Lançamento' do
    = f.input :destino_inicial, label: "Destino Inicial", member_label: :nome
    = f.input :tipo_solicitacao, label: "Tipo de Solicitação",
        member_label: :descricao

  = f.input :conteudo

  = f.submit 'Salvar'
