%p
  %b Numero protocolo:
  = @requerimento.numero_protocolo
%p
  %b Data de Criação:
  = @requerimento.created_at.strftime("%d/%m/%y")
%p
  %b Setor:
  = @requerimento.setor_origem.nome
%p
  %b Requerente:
  = @requerimento.requerente.nome
%p
  %b Interessado:
  = @requerimento.interessado.try(:nome)
%p
  %b Tipo Solicitação:
  = @requerimento.tipo_solicitacao.descricao
%p
  %b Destino Inicial:
  = @requerimento.destino_inicial.nome
%p
  %b Conteudo:
  = @requerimento.conteudo
