= semantic_form_for @tramitacao do |f|

  = f.input :setor_origem, label: 'Setor de origem', :as => :select, :collection => Setor.all.map{|setor| [setor.nome, setor.id]}
  = f.input :setor_destino, label: 'Setor de destino', :as => :select, :collection => Setor.all.map{|setor| [setor.nome, setor.id]}

  = f.input :processo, :as => :select, collection: Processo.all.map{|processo| [processo.numero_protocolo, processo.id]}, :input_html => { :class => "processos" }

  = f.submit 'Enviar'
