= semantic_form_for @tramitacao do |f|
  
  = f.input :setor_origem, label: 'Setor de origem', :as => :select, :collection => Setor.all.map{|setor| [setor.nome, setor.id]}
  = f.input :setor_destino, label: 'Setor de destino', :as => :select, :collection => Setor.all.map{|setor| [setor.nome, setor.id]}

  = f.input :requerimento, :as => :select, collection: Requerimento.all.map{|requerimento| [requerimento.numero_protocolo, requerimento.id]}, :input_html => { :class => "requerimentos" } 
  
  = f.submit 'Enviar'
  
  
