%fieldset
  %legend Resultados da busca
  %table{class: 'table table-striped'}
    %thead
      %tr
        %th 
          = sort_link @q, :numero_protocolo, 'Numero protocolo'
        %th 
          = sort_link @q, :created_at, 'Data de Criação'
        %th Tipo de Solicitação
        %th Requerente
        %th Interessado
        %th Localização Atual
        %th Status
      %tbody
        -@processo.each do |processo|
          %tr
            %td
              = link_to processo.numero_protocolo, processo
            %td
              = processo.created_at.strftime("%d/%m/%y")
            %td
              = processo.tipo_solicitacao.descricao
            %td
              = processo.requerente.nome
            %td
              = processo.interessado.try(:nome)
            %td
              = processo.setor_atual.nome
            %td
              = processo.estado

