%h1 Solicitante

%p
  %b Matricula:
  = @solicitante.matricula
%p
  %b Nome:
  = @solicitante.nome
%p
  %b Telefone:
  = @solicitante.telefone

%p
  %b Endereço:
  = @solicitante.endereco
%p
  -@solicitante.setores.each do |setor|
    %b
    = setor.nome
%p
  = render @solicitante.user