%p
  %b Matricula:
  = @solicitante.matricula
%p
  %b Nome:
  = @solicitante.nome
%p
  %b Telefone:
  = @solicitante.telefone
%p
  %b Email:
  = @solicitante.email
%p
  %b Endereço:
  = @solicitante.endereco

